@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: #1f1f38;
  background-image: url(../src/assets/img/Bg-Logo/bg-texture.png);
  color: #bbbec3;
  line-height: 1.7;
}

.swiper-pagination-clickable .swiper-pagination-bullet{
  background: #049395;
}

/*
----------------
@media screen and (max-width:600px) {
  .container {
    width: var(--container-width-sm);
  }

  section>h2 {
    margin-bottom: 2rem;
  }
}

----------------
@media screen and (max-width:1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
} */
