@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  @apply leading-relaxed transition-colors bg-background-bgColor dark:bg-slate-300 dark:bg-gradient-to-b from-slate-300 to-slate-600 text-textPrimary-main;
  background-image: url(../src/assets/img/Bg-Logo/bg-texture.png);
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background: #049395;
}

/**** HEADER ****/

.header {
  @apply sticky top-0 left-0 z-[100] w-full lg:bg-blue-600 bg-background-bgColor dark:bg-slate-300;
}

.header.active {
  @apply transition-shadow shadow-lg;
}
