@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --color-bg: #1f1f38;
  --color-bg-variant: #151c28;
  --color-bg-variant-hover: #232323;
  --color-primary: #049395;
  --color-primary-variant: #037f81;
  --color-white: #fff;
  --text-color: #bbbec3;
  --text-color-light: #dce0e4;
  --color-light: #ffffff99;
  --transition: all 0.4s ease;
  --container-width-lg: 55%;
  --container-width-md: 85%;
  --container-width-sm: 90%;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--color-bg);
  background-image: url(../src/assets/img/Bg-Logo/bg-texture.png);
  color: var(--text-color);
  line-height: 1.7;
}

/*
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 8rem;
}

section>h2,
section>h5 {
  text-align: center;
  color: var(--color-light);
}

section>h2 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}

.text-light {
  color: var(--color-light);
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}
------------------
.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: .75rem 1.2rem;
  border-radius: .4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
  font-weight: 700;
  font-size: 1rem;
}

.btn:hover {
  background: var(--color-primary-variant);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

.btn-primary:hover {
  background: var(--color-primary-variant);
  color: var(--color-bg);
}

.text__subtitle-title {
  border-bottom: var(--color-primary-variant) solid 1px;
  margin: 0 25%;
  font-weight: 600;
  color: #fff;
}

.text__subtitle {
  border-bottom: 1px solid rgba(161, 161, 161, 0.3);
  margin: .5rem 30%;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

----------------
@media screen and (max-width:600px) {
  .container {
    width: var(--container-width-sm);
  }

  section>h2 {
    margin-bottom: 2rem;
  }
}

----------------
@media screen and (max-width:1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
} */
